ul {
  padding: 0;
  width: 1200px;
  margin: 20px auto;
  li {
    display: inline;
    .tn {
      width: 380px;
      height: 380px;
      margin: 6px;
      border: 4px solid #eee;
      box-shadow: #555 1px 1px 8px 1px;
    }
  }
}

.scroll-container {
  height: 1080px;
  overflow-y: scroll;
}